<section class="content-header">
    <h1 class="essence-title" id="essence-title">{{title}}</h1>
</section>
<div class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-wrapper">
                <p>
                    <button type="button" (click)="add()" class="btn btn-success" href="#" data-toggle="modal" data-target="#new-ess">Создать</button>
                </p>
                <bs-table [columns]="columns" [rows]="rows"></bs-table>
            </div>
        </div>
    </div>
</div>