<table id="table-content" class="table table-bordered">
    <thead>
        <tr>
            <th *ngFor="let column of columns">
              {{column.label}}
            </th>
            <th>Actions</th>
        </tr>
        </thead>
    <tbody>
        <tr *ngFor="let row of rows">
            <td *ngFor="let column of columns">{{getValue(column.key, row)}}</td>
            <td>
                <a data-toggle="modal" href="#" title="Редактировать" class="btn btn-primary btn-sm" data-target="#update-ess">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a class="btn btn-danger btn-sm remove-ess" href="#" title="Удалить" data-model="1" >
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
    </tbody>
</table>